:root {
  --color-primary: #38b6ff;
  --color-primary-dark: #2a91cc;
  --color-primary-light: #aee2ff;

  --color-text: #111827;
  --color-bg: #ffffff;
  --color-border: #e5e7eb;

  --color-success: #10b981;
  --color-danger: #ef4444;
  --color-warning: #f59e0b;
}
